/* CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #F2F2F2;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    background-color: #333;
    color: #fff;
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

nav a:hover {
    background-color: #555;
}

main {
    padding: 20px;
}

main h2 {
    margin-top: 0;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #F2F2F2;
    padding: 20px;
    text-align: center;
}
